.x_header {
    width: 100%;
    background: #3180f8;
    height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
        
        .x_navbar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            a {
                padding: 0 30px;
                text-decoration: none;
                font-size: 30px;
                color: #fff;
                font-weight: 500;
                text-transform: uppercase;
                transition: 0.3s ease-in;

                &:hover {
                    transition: 0.3s ease-in;
                    color: #fffc67;
            }
        }
    }
}